{% extends 'usuarios/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <br>
    <h3>Olá, Sr {{user.username}}</h3>
{% else %}
    <br>
    <p>Você precisa realiar o login</p>
{% endif %}
<main class="container">
    <div class="bg-light p-5 rounded">
        {% if user.is_authenticated %}
                <tr>
                    <td>
                        Nome: {{cliente.nome}}<br>
                        Sexo: {{cliente.sexo}}<br>
                        Nascimento: {{cliente.nascimento}}<br>
                        Email: {{cliente.email}}<br>
                    </td>
                        <td> 
                            <a class="btn btn-default" href="{% url 'editar_cliente' id=cliente.id %}">
                                <button type="button" class="btn btn-danger">Editar</button>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-default" href="{% url 'carteira_cliente' id=cliente.id %}">
                                <button type="button" class="btn btn-danger">Carteira</button>
                                <br>
                            </a>
                        </td>
                </tr>
        {% endif %}
    </div>
</main>
{% endblock %}
